---
import config from "config";
import path from 'path';
import { rfc2822 } from "../components/utilities/DateFormat.js";

const { allPosts } = Astro.props;
const rssHeaderXml = `<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>${config.get("title")}</title>
    <description><![CDATA[ ${config.get("description")} ]]></description>
    <link>${config.get("url")}</link>`;

const rssFooterXml = `  </channel>
  </rss>
  `;
---
<Fragment set:html={rssHeaderXml} />
{allPosts.map(post =>
  <Fragment set:html={`
    <item>
      <title>${post.frontmatter.title}</title>
      <link>${new URL(
        path.join("/", path.basename(post.file, path.extname(post.file))),
        config.get("url")
      )}</link>
      <guid>${new URL(
        path.join("/", path.basename(post.file, path.extname(post.file))),
        config.get("url")
      )}</guid>
      <description><![CDATA[ ${post.frontmatter.description}]]></description>
      <pubDate>${rfc2822(post.frontmatter.pubDate)}</pubDate>
      <content:encoded><![CDATA[`} />
      <post.Content/>
    <Fragment set:html={`]]></content:encoded>
    </item>`} />)}
<Fragment set:html={rssFooterXml} />